.banner {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    height: 70vh;
    border: var(--tmp-border);

    text-align: center;
}

.banner-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1em;
    margin: 0 2em;

    color: black;
    border: var(--tmp-border);
}


.navbar {
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #f5f5f5;

    display: flex;
    justify-content: center;
    gap: 22px;
    align-items: center;

    >* {
        align-items: center;
        text-align: center;
        padding: 1rem;
        width: 100px;

        border: 1px solid #000;
        border-radius: 25px;
        cursor: pointer;
    }

    >*:hover {
        background-color: #d9cfcf;
        opacity: 0.6;
    }
}


.top-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 80px;
    border: var(--tmp-border);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    cursor: pointer;

    :hover {
        opacity: 1;
    }
}



.card {
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    --box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
    --border-radius: 12px;
    display: flex;
    flex-direction: column;

    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 400px;
    height: 480px;
    margin: 1em;
    overflow: hidden;

    .cover {
        position: relative;
        height: 400px;
    }

    .desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        >* {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 0.2em 0.1em;
            /* >*{
                display: flex;
                justify-content: start;
            } */
        }
    }

    #rent-or-buy {
        display: flex;
        justify-content: center;
        border: 1px solid #000;
        border-radius: var(--border-radius);
        padding: 0.5em;
        margin: .2em;
        width: 80px;
        opacity: 0.4;

        cursor: pointer;
        /* &:hover {
            opacity: 1;
        } */
    }

    &:hover {
        box-shadow: var(--box-shadow-hover);
    }
}

.search-bar{
    --bg-color: var(#f5f5f5);

    display: flex;
    justify-content: center;

    gap: 10px;
    margin: 12px 0;
    border: 1px solid #000;

    input{
        width: 100%;
        color: var(--theme-color);
        width: 350px;
        padding: 5px 10px;
        text-align: center;
        
        border: 1px solid black;
        border-radius: 25px;
        outline-color: black;
        background-color: var(--bg-color);
    }

    >*{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        padding: 6px;
    }

}

/* this can improve the content layout view... */
.card-homes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    height: 100%;

}